<div class="hero-section">
	<div class="hero-wrap">
		<div class="iframe-container">
			<iframe title="DerivxKahuna" src="https://www.youtube.com/embed/q2eYbK_xzmc?modestbranding=1&frameborder=0&autoplay=1&loop=1" width="100%" height="600" frameborder="0" allow="autoplay loop" allowfullscreen="allowfullscreen"></iframe>
		</div>
	</div>
</div>