<div class="hero-section">
	<div class="hero-wrap">
		{{!-- <h1 class="hero-title global-title-huge global-title-offset">
		{{#if @custom.hero_title_text}}
			{{{@custom.hero_title_text}}}
		{{else}}
			{{{t "{start-italic}Thoughts, stories and ideas{end-italic} by the {site-title} team" start-italic="<span>" end-italic="</span>" site-title=@site.title}}}
		{{/if}}
		</h1>
		{{#if @site.description}}
			<p class="hero-description global-subtitle-excerpt">{{@site.description}}</p>
		{{/if}} --}}
		<div class="iframe-container">
			<iframe width="100%" height="600" src="https://www.youtube.com/embed/q2eYbK_xzmc?loop=1&modestbranding=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</div>