<div class="loop-section">
	<div class="kahuna-team">
		<h2 class="heading-kahuna text-center">TO SVALBARD WITH KAHUNA</h2>
	</div>
	<div class="loop-wrap">
		{{#get "posts" filter="tag:blog"}}
			{{#foreach posts}}
				{{>item show_tags=true}}
			{{/foreach}}
		{{/get}}
	</div>

		<div class="pagination-wrap see-all">
			<a href="https://derivlife.com/tag/blog/" id="all-articles">
			<button class="black-button">{{t "See all articles"}} {{>icons/site/arrow_right}}</button>
			</a>
		</div>
	<div class="kahuna-team">
		<h2 class="heading-kahuna text-center meet-team">Meet the team</h2>
	</div>
	<div class="loop-wrap meet-team">
		{{#get "posts" filter="tag:team"}}
			{{#foreach posts}}
				{{>item show_tags=true}}
			{{/foreach}}
		{{/get}}
	</div>
	
</div>