{{!< default}}
{{#tag}}
{{#contentFor "background_cover"}}
{{>images/background_cover background_cover=feature_image}}
{{/contentFor}}
<div class="archive-section">
	<div class="breadcrumb">
		<p><a href="https://derivlife.com">Home</a> > <a href="https://derivlife.com/tag/blog/"/>Blogs</a></p>
	</div>
	<h1 class="global-title-large">Conquer peaks. Sail to the unknown. </h1>
	<em class="archive-counter">Read how Kahuna’s toughest adventure unfolds</em>
	{{#if description}}
	<p class="archive-description">{{description}}</p>
	{{/if}}
</div>
{{/tag}}
{{>loop}}
{{pagination}}